<!-- <input type="text" placeholder="Workout Name" [(ngModel)] = "workoutName" (change)="displayName(workoutName)" />&nbsp; &nbsp;
<input type="number" placeholder="Time to workout" [(ngModel)] = "workoutTime" (change)="displayTime(workoutTime)" />
<br><br> -->
<!-- <button class='btn btn-primary' (click)="addWorkout()">Save Workout</button>  -->
<!-- <a routerLink = "http://localhost:8083/workoutTime/create">Add workout</a>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; -->
<button class='btn btn-primary' (click)="showDialog()">Timer</button>&nbsp;&nbsp;<b>{{flag}}</b>
