<header role="banner">
	<h1>Follow your diet</h1>
</header>

<div class="container-fluid">
  <h2> <b>DIET FOR WEIGHT GAIN</b></h2>
  <div class="row">
    <div class="card-deck">
      <div class="card">
        <a href="/assets/images/breakfast.jpg" download>
        <img class="card-img-top" src="/assets/images/breakfast.jpg" alt="Card image cap">
      </a>
        <div class="card-block">
          <h4 class="card-title">BREAKFAST</h4>
          <h4 class="card-title"><i>Spiced Banana-Chocolate Muffins</i></h4>
          <p class="card-text"><b>Nutrition (for two muffins): <br>About 300 calories,<br> 6 g protein,<br> 48 g carbohydrates,<br> 8 g fat (2 g saturated),<br>6 g fiber, 430 mg sodium.</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card" height ="200px"  width ="200px">
        <img class="card-img-top" src="/assets/images/Lunch.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">LUNCH</h4>
          <h4 class="card-title"><i>Baked sweet potato</i></h4>
          <p class="card-text"><b>Nutrition <br>112 calories<br>438 mg potassium (12% DV)<br>32mg magnesium (8% DV) <br> 0.8mg iron (3% DV)<br>2g protein<br>18,443 IU vitamin A (386% DV)</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/images/Snacks.jpg" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">SNACKS</h4>
          <h4 class="card-title"><i>Avocado Toast</i></h4>
          <p class="card-text"><b>Nutrition <br>  160 calories<br> protein 7.4g<br>carbohydrates 10.8g<br>dietary fiber 5.7g</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="/assets/images/dinner.png" download>
        <img class="card-img-top" src="/assets/images/dinner.png " alt="Card image cap">
      </a>
        <div class="card-block">
          <h4 class="card-title">DINNER</h4>
          <h4 class="card-title"><i>Seared Salmon with Roasted Cauliflower</i></h4>
          <p class="card-text"><b>Nutrition <br>  172 calories<br> protein 5.4g<br>carbohydrates 17.8g<br>dietary fiber 5.9g</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>
</div>

<br> <br> <br>

<div class="container-fluid">
  <h2><b>DIET FOR WEIGHT LOSS</b></h2>
  <div class="row">
    <div class="card-deck">
      <div class="card">
       
        <a href="/assets/images/breakfast1.jpg" download>
        <img class="card-img-top" src="/assets/images/breakfast1.jpg" alt="Card image cap">
      </a>
        <div class="card-block">
          <h4 class="card-title">BREAKFAST</h4>
          <h4 class="card-title"><i>Make-Ahead Egg Sandwiches</i></h4>
          <p class="card-text"><b>Nutrition <br>  172 calories<br> protein 5.4g<br>carbohydrates 17.8g<br>dietary fiber 5.9g</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="/assets/images/lunch1.png" download>
          <img class="card-img-top" src="/assets/images/lunch1.png" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">LUNCH</h4>
          <h4 class="card-title"><i>Loaded Cauliflower</i></h4>
          <p class="card-text"><b>Nutrition <br>  120 calories<br> protein 2.4g<br>carbohydrates 10.8g<br>dietary fiber 5.9g</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
      <div class="card">
        <a href="/assets/images/Snack1.jpg" download>
          <img class="card-img-top" src="/assets/images/Snack1.jpg" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">SNACK</h4>
          <h4 class="card-title"><i>rispy Potato Tacos</i></h4>
          <p class="card-text"><b>Nutrition <br>  20 calories<br> protein 1.4g<br>carbohydrates 15.8g<br>dietary fiber 2.9g</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>

      <div class="card" height ="200px"  width ="200px">
        <a href="/assets/images/dinner1.jpg" download>
          <img class="card-img-top" src="/assets/images/dinner1.jpg" alt="Card image cap">
        </a>
        <div class="card-block">
          <h4 class="card-title">DINNER</h4>
          <h4 class="card-title"><i>Vegan Chorizo Tostadas</i></h4>
          <p class="card-text"><b>Nutrition <br>102 calories<br>8 mg potassium (12% DV)<br>37mg magnesium (8% DV)</b></p>
          <p class="card-text"><small class="text-muted"></small></p>
        </div>
      </div>
    </div>
  </div>
</div>