

<body>
	<div class="topnav">
  <a href="http://localhost:4200/">HOME</a>
  <a href="http://localhost:4200/login">LOGIN</a>
  <a href="http://localhost:4200/videostream">VIDEOS</a>
  <a href ="http://localhost:4200/dietplan">DIET PLAN</a>
  <a href="http://localhost:4200/payment">PAYMENT</a>
  <a href="http://localhost:4200/modal">TIMER</a>
  <a href="http://localhost:4200/show">WORKOUT</a>
  <a href="http://localhost:4200/signup">SIGN UP</a>
  <a href="http://localhost:4200/graphs">REPORTS</a>
  <a routerLink = "createWorkoutForUser">CreateWorkoutForUser</a><br>
</div>

<router-outlet></router-outlet>