#myPaypalButtons{

    position: relative;

    padding: 10% 30%;

}
.btn-secondary{
    background-color: rgb(61, 61, 61); /* Green */
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;

  display: centre;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;

  cursor: pointer;
  position: relative;
 

    
  }
  .btn-secondary:hover {
    background-color: rgb(39, 39, 39);
    color: grey;
  }

   